.Out_patient_menu{
            margin-top: 100px;
            img{
            }
            ul{
            text-align: center;
            list-style: none;
            a{
                        text-decoration: none;
                        color: #000;
                        font-weight: 500;
                        }
            &:first-child{
                        width:70%;
                        margin: auto;
                        display: flex;
                        justify-content: space-between;
                       
            }
            &:nth-child(2){
                        width: 60%;
                        margin: auto;
                        margin-top:25px ;
                        display: flex;
                        justify-content: space-around;
            }
            &:last-child{
                        width: 60%;
                        margin: auto;
                        margin-top:25px ;
                        display: flex;
                        justify-content: space-around;
            }
            }
}

// Media query for 992px to 1199px
@media (min-width: 992px) and (max-width: 1199px) {
            .Out_patient_menu {
                       
              ul {
                &:first-child {
                  width: 80%;
                }
                &:nth-child(2),
                &:last-child {
                  width: 70%;
                }
              }
            }
          }
          
          // Media query for 1200px to 1399px
          @media (min-width: 1200px) and (max-width: 1399px) {
            .Out_patient_menu {
                    
              ul {
                &:first-child {
                  width: 80%;
                }
                &:nth-child(2),
                &:last-child {
                  width: 75%;
                }
              }
            }
          }
          
 