.TestMaster {
  .form {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-size: small;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 100px;
    grid-gap: 20px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      width: 90px;
      padding: 7px 10px;
      border-radius: 4px;
      border: none;
      outline: none;
      font-weight: 600;
    }
  }

  .second_form {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    > div {
      display: flex;
      align-items: center;
      width: 40%;
      margin-left: auto;
      justify-content: space-between;

      div:first-child{
        width: 60%;
        display: flex;
        align-items: center;
        select{
          width: 100%;
        }
      }
    }
  }

  .last_btnss {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    > div {
      display: flex;
      margin-left: auto;
      width: fit-content;
      gap: 20px;

      button {
        width: 60px;
        padding: 7px 10px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-weight: 600;
      }
    }
  }

  .btn-icons {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    background-color: white;
    border-radius: 4px;
    border: none;
  }

  // Table
  .table-container {
    width: 80%;
    max-height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: auto;
    margin-top: 40px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: left;
    border-bottom: 1px solid #ccc; /* Add a border at the bottom of each th */
    padding: 8px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 15.3728px;
    line-height: 26px;
    letter-spacing: 0.0015em;
    color: #828282;
  }

  tbody {
    overflow-y: auto;
    height: 100px;
  }

  td {
    padding: 8px;
    padding-bottom: 20px;
  }

  /* Styles for the scrollbar */
  .table-container::-webkit-scrollbar {
    width: 8px;
  }

  .table-container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 8px;
  }

  .table-container::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

  .table-container::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 8px;
  }
}
